.Chatbot {
  width: 400px; 
  height: 500px; 
  background-color: rgb(218, 254, 254);
}

/* Customize the chatbot header */
.vfrc-header {
    background-color: #a2bfeb;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }

.vfrc-avatar {
  color: yellow;
}
  
  /* Customize user messages */
.vfrc-message-user {
    background-color: #283884;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
  
  /* Customize bot messages */
.vfrc-message-agent {
    background-color: #0c2f3d;
    color: rgb(185, 15, 15);
    padding: 10px;
    border-radius: 8px;
}

.vfrc-assistant-info--title {
  color:#a0002d;
}